<button class="btn btn-outline-primary" routerLink="/">
  Log out
</button>  
<button class="btn btn-outline-primary" routerLink="/product-list">
  Product-edit
</button>

<div class="container custom-container-2">
    <!-- Se muestra cuando no hay producto -->
    <div class="no-data text-center" *ngIf="Product.length == 0">
      <p>Aun no has agregado ningun producto!</p>
    </div>
    <div *ngIf="Product.length !== 0">
      <h3 class="mb-3 text-center">Lista de productos</h3>
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">nombre</th>
              <th scope="col">descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of Product">
            
              <td>{{ product.nombre }}</td>
              <td>{{ product.descripcion }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
 
  </div>

  <footer>
    <p> compranos galletitas o me muero de anvre</p>
  </footer>
