* {
    box-sizing: border-box;
  }
  html,
  body {
    background: #ecf0f3;
  }
  h1 {
    margin: 0;
    padding: 0;
  }

  .login{
    padding: 120px;
  }
  .custom-form {
    min-width: 300px;
    max-width: 60%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 10px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 10rem;
  }
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
  }
  .button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #6431a7;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }

  button:hover{
    background-color: #bd83ff;
    transition: .5s;
  }



  nav{

    max-width: 100%;
    display: inline;
    position: fixed;
    top: 0rem;
    margin: auto;
    background-color: rgb(0, 0, 0);
}


  
  .link{
    text-decoration: none;
  }


  header{
    position: fixed;
    width: 100%;
  }
  
  nav{
      background:  #6441a5;
      height: 50px;
      width: 100%;
  }
  .enlace{
      position: absolute;
      padding: 5px 5px;
  }
  .logo{
  
      height: 45px;
  }
  nav ul{
      float: right;
      margin-right: 60px;
  }
  nav ul li{
      display: inline-block;
      line-height: 50px;
      margin: 0 5px;
  }
  nav ul li a{
  
      color: #fff;
      font-size: 18px;
      padding: 7px 13px;
      border-radius: 3px;
      text-transform: uppercase;
  }
  li a.active, li a:hover{
      background: #bd83ff;
      transition: .5s;
  }
  .checkbtn{
      font-size: 30px;
      color: #fff;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
  }
  #check{
      display: none;
  }
  section{
     /* background: url(fondo.jpg) no-repeat;*/
      background-size: cover;
      background-position: center center;
  
  }
  
  
  @media (max-width: 952px){
      .enlace{
          padding-left: 20px;
      }
      nav ul li a{
          font-size: 16px;
      }
  }
  
  @media (max-width: 858px){
      .checkbtn{
          display: block;
      }
      ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #2c3e50;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all .5s;
      }
      nav ul li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
      }
      nav ul li a{
          font-size: 20px;
      }
      li a:hover, li a.active{
          background: none;
          color: red;
      }
      #check:checked ~ ul{
          left:0;
      }
  }


  .footer-style {
    padding-top: 20px;
    background-color:  #1d1c2b;
  }
  
  footer .copy{
    color: #969696;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  footer .container {
    color: rgb(134, 134, 134);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .footer-style h3{
    font-size: 1.2em;
  }
  
  footer .contact{
    padding: 0 20px;
  }