<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Crear Producto</h3>
      <div class="form-group">
        <input type="text" [(ngModel)]="productDetails.nombre" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="productDetails.descripcion" class="form-control" placeholder="descripcion">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="productDetails.stock" class="form-control" placeholder="stock">
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addProduct(productDetails)">Crear Producto</button>
      </div>
    </div>
  </div>
