<!-- -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <a href="" class="enlace">
        <img src="https://cdn.discordapp.com/attachments/1009079449683251302/1041840865691316335/Diseno_sin_titulo.png" alt="Logo Mercachifle" class="logo"/>
      </a>
      <ul>
        <li type="button" (click)="pasarARegister();"><a>SIGN IN</a></li>
        <li type="button" (click)="pasarALogin();"><a>LOGIN</a></li>
        <li><a href="#historia_mercachifle">About us</a></li>
      </ul>
    </nav>
  </header>
    
<section id="imagen_principal">
  <div class="img_prin">
    <h2>Hace tu cambio <br><span class="ahora">¡¡Ahora!!</span></h2>
  </div>
</section>

<section id="historia">
  <h2>historia de Mercachifle</h2>
  <div class="container">
    <div class="carta1">
      <h3>Inicio de nuestro proyecto</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nemo voluptatum debitis, sint magni eos at veritatis hic numquam voluptates reprehenderit aperiam nisi qui obcaecati quis, quae voluptatem voluptas. Alias.</p>
      <button>+ info</button>
    </div>
    <div class="carta2">
      <h3>Problemas resueltos</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nemo voluptatum debitis, sint magni eos at veritatis hic numquam voluptates reprehenderit aperiam nisi qui obcaecati quis, quae voluptatem voluptas. Alias.</p>
    <button>+ info</button>
  </div>
  <div class="carta3">
    <h3>EL resultado final</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nemo voluptatum debitis, sint magni eos at veritatis hic numquam voluptates reprehenderit aperiam nisi qui obcaecati quis, quae voluptatem voluptas. Alias.</p>
    <button>+ info</button>
  </div>
</div>
</section>



<section id="caracteristicas">
  <h2>Nuestras caracteristicas</h2>
  <div class="container">
    <ul>
      <li>✔Intercambio</li>
      <li>✔Encuentro entre cambiadores</li>
      <li>✔store con variedad</li>
    </ul>
  </div>
</section>



<footer class="footer-style">
  <div class="container">
    <div class="foot_dir">
      <h3>Dirección</h3>
      <p>
          Quilmes - Argentina <br/>Av.Francia 1417
      </p>
    </div>
    <div class="contact">
      <h3>Contacto</h3>
      <p>
        ✉ mercachifle@gmail.com <br/>☏ tel = 11 5468 2514
      </p>
    </div>
  </div>

  <p class="copy">&copy; Mercachifle2022</p>
</footer>
</body>
</html>