<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <a href="" class="enlace">
        <img src="https://cdn.discordapp.com/attachments/1009079449683251302/1041840865691316335/Diseno_sin_titulo.png" alt="Logo Mercachifle" class="logo"/>
      </a>
      <ul>
        <li type="button" (click)="pasarARegister();"><a>SIGN IN</a></li>
        <li type="button" (click)="pasarALogin();"><a>LOGIN</a></li>
        <li><a href="#">
          About us</a></li>
      </ul>
    </nav>
  </header>
    
<section id="imagen_principal">
  <div class="img_prin">
    <h2>Hace tu cambio <br><span class="ahora">¡¡Ahora!!</span></h2>
  </div>
  </section>

<section class="proyectos" id="proyectos">
  
  <h2 class="titulo-informacion">Como creamos Mercachifle</h2>
    <div class="contenedor-de-proyectos">
      <div class="contenedor-de-proyectos">
        <div class="contenedor-de-proyecto tarjeta-de-proyecto">
          <img
            src=""
            alt=""
            loading="lazy"
            class="project-pic"
          />
          <h3 class="titulo-de-proyecto">El inicio del proyecto</h3>
          <p class="detalles-de-proyecto">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
            ratione vel inventore labore commodi modi quos culpa aut saepe!
            Alias!
          </p>
        </div>
      </div>

      <div class="contenedor-de-proyectos">
        <div class="contenedor-de-proyecto tarjeta-de-proyecto">
          <img
            src=""
            alt=""
            loading="lazy"
            class="project-pic"
          />
          <h3 class="titulo-de-proyecto">Los problemas que tuvimos</h3>
          <p class="detalles-de-proyecto">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
            ratione vel inventore labore commodi modi quos culpa aut saepe!
            Alias!
          </p>
        </div>
      </div>
      
      <div class="contenedor-de-proyectos">
        <div class="contenedor-de-proyecto tarjeta-de-proyecto">
          <img
            src=""
            alt=""
            loading="lazy"
            class="project-pic"
          />
          <h3 class="titulo-de-proyecto">Que decidimos luego</h3>
          <p class="detalles-de-proyecto">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
            ratione vel inventore labore commodi modi quos culpa aut saepe!
            Alias!
          </p>
        </div>
      </div>

      <div class="contenedor-de-proyectos">
        <div class="contenedor-de-proyecto tarjeta-de-proyecto">
          <img
            src=""
            alt=""
            loading="lazy"
            class="project-pic"
          />
          <h3 class="titulo-de-proyecto">Como quedo el proyecto</h3>
          <p class="detalles-de-proyecto">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
            ratione vel inventore labore commodi modi quos culpa aut saepe!
            Alias!
          </p>
        </div>
      </div>
    </div>
      
</section>
<section id="caracteristicas">
  <div class="container">
    <h2>Nuestras caracteristicas</h2>
    <ul>
      <li>✅Intercambio</li>
      <li>✅Encuentro entre cambiadores</li>
      <li>✅store con variedad</li>
    </ul>
  </div>
</section>



<footer class="text-center footer-style">
  <div class="container">
      <div class="row">
          <div class="col-md-4 footer-col">
              <h3>Dirección</h3>
              <p>
                  Quilmes - Argentina <br />
                  Av.Francia 1417
              </p>
          </div>
          <div class="col-md-4 footer-col">
              <h3>Mis redes</h3>
              <ul class="list-inline">
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4 footer-col">
              <h3>info Mercachilfe</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, obcaecati?</p>
          </div>
      </div>
  </div>
  <p>&copy; Mercachifle2022</p>
</footer>
</body>
</html>