<header>
  <nav>
    <a href="" class="enlace">
      <img src="https://cdn.discordapp.com/attachments/1009079449683251302/1041840865691316335/Diseno_sin_titulo.png" alt="Logo Mercachifle" class="logo"/>
    </a>
    <ul>
      <li type="button" routerLink="/"><a>home</a></li>
    </ul>
  </nav>
</header>

<div class="register">
    <form class="custom-form" method="post">
      <h1>Register</h1>
      <input
        type="name"
        [(ngModel)]="name"
        name="name"
        placeholder="Name"
        required="required"
      />
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="password"
        placeholder="Repeat the password"
        required="required"
      />
      <button type="submit" (click)="register(name, email, password, confirmPassword)">Register</button>
    </form>
  </div>

  <footer class="footer-style">
    <div class="container">
      <div class="foot_dir">
        <h3>Dirección</h3>
        <p>
            Quilmes - Argentina <br/>Av.Francia 1417
        </p>
      </div>
      <div class="contact">
        <h3>Contacto</h3>
        <p>
          ✉ mercachifle@gmail.com <br/>☏ tel = 11 5468 2514
        </p>
      </div>
    </div>
  
    <p class="copy">&copy; Mercachifle2022</p>
  </footer>
  